.auth-form__input {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: black;
    color: #CCCCCC;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 8px 0;
    margin: 0;
    width: 100%;
}

.auth-form__input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #CCCCCC;
}

.auth-form__input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #CCCCCC;
}

.auth-form__input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #CCCCCC;
}

.auth-form__input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #CCCCCC;
}

.auth-form__input:-webkit-autofill,
.auth-form__input:-webkit-autofill:focus,
.auth-form__input:-webkit-autofill:hover,
.auth-form__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* здесь можно указать любой цвет фона, который вы хотите использовать */
}